* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10%;
  }
  .logo img {
    max-width: 120px;
    height: auto;
  }
  .navmenu {
    display: flex;
  }
  .navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
  }
  .navmenu a:hover {
    color: #ee1c47;
  }
  .nav-icon {
    display: flex;
    align-items: center;
  }
  .nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.42s ease;
  }
  .nav-icon i:hover {
    transform: scale(1.1);
    color: #ee1c47;
  }
  #menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    cursor: pointer;
    z-index: 10001;
  }
  /* 
    sticky nav items */
  header.sticky {
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* nav res mediaquery */
  
  @media (max-width: 750px) {
    .navmenu {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 130vh;
      background: #edfff1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 120px 30px;
      transition: all 0.42s;
    }
    .navmenu a {
      display: block;
      margin: 18px 0;
    }
    .navmenu.open {
      right: 0;
    }
    #menu-icon {
      display: contents;
    }
    .feature{
        flex-direction: column;
    }
    
  }
section{
    width: 100%;
    height: 50vh;
    

}

.section1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/pexels-athena-2962135-scaled.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    
}

.section2{
    background-color: black;
    color: #fff;
    height: 1800px;
    
   
    
}
.section1 h1{
  position: relative;
    text-align: center;
    font-size: 80px;
    top: 7rem;
    font-weight: 600;
    color: #fff;
    
}

/* 
.headingtop{
    margin-top: 20rem;
    color:#fff;
    
    
} */






.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  .feature{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
  }
  .featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  .featured-desription{
    color: gray;
    width: 50%;
    height: 100px;
  
  }
  .featureicon{
    width: 100px;
    height: 100px;
  }


  .features2{
    display: flex;
    align-items: center;
   text-decoration: dotted;
    
  }
  .feature2{
    display: flex;
    align-items: center;
    
  }
  .featureicon2{
    width: 40px;
  }

  .title{
    
    font-weight: 400;
    margin: 10px;
  }



.tag{
  position: relative;
  top: 200px;
  right: 300px;
  text-align: center;
}


.center-pic{
  display: grid;
  place-items: center;
  position: relative;
  top: 200px;
  right: 500px;
}
.center-pic img{
  width: 1000px;
  height: 500px;

}



@media screen and (max-width: 600px) {
  .tag {
      top: 0;
      right: 0;
  }
  .center-pic {
      top: 0;
      right: 0;
  }
  .center-pic img {
      width: 100%;
      height: auto;
  }

  .section2{
    height: 2500px;
  }
}



@media screen and (max-width: 600px) {
  .section1 {
     
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 16px;
  }
}