* {
  list-style: none;
  text-decoration: none;
}
body{
  background-color: hsla(260,62%,11%,1) ;
  color: hsla(0,0%,100%,0.6) ;
  
}
/* nav style */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10%;
}
.logo img {
  max-width: 200px;
  height: auto;
}
.navmenu {
  display: flex;
}
.navmenu a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navmenu a:hover {
  color: #ee1c47;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.nav-icon i:hover {
  transform: scale(1.1);
  color: #ee1c47;
}
#menu-icon {
  font-size: 35px;
  color: #2c2c2c;
  cursor: pointer;
  z-index: 10001;
}
/* 
  sticky nav items */
header.sticky {
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* nav res mediaquery */

@media (max-width: 750px) {
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #edfff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all 0.42s;
  }
  .navmenu a {
    display: block;
    margin: 18px 0;
  }
  .navmenu.open {
    right: 0;
  }
  #menu-icon {
    display: contents;
  }
  .features{
    flex-direction: column;
  }
}

/* hero section */
/* header{
   background-image: url(./images/hero-banner.png);
   background-size: cover;
   background-repeat: no-repeat;
} */
.hero-img{
    
    width: 600px;
}

.counter-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.counter-item{
  width: 25%;
}
.counter-number, .counter-title{
  background: #fff;
  /* background-size: 100% ; */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.counter-number{
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.counter-title{
  font-size: 1.5rem;
}


/* 
.features{
    display: flex;
    align-items: center;
     justify-content: space-between; 
    padding: 50px;
  }
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  .featured-desription{
    color: gray;
    width: 50%;
    height: 100px;
  
  }
  .featureicon{
    width: 200px;
    height: 190px;
  } */
/* 
  .feature img{
    width: 150px;
    height: 100px;
    
  } */


  /* services */



  @media (max-width: 767px) {
    .h2 {
      font-size: 1.75rem; 
    }
    .hero-img{
      width: 400px;
    }
  }


.girl-img{
  width: 400px;
}
.service-section{
  background-color:hsla(260,62%,11%,1) ;
  color: hsla(0,0%,100%,0.6);
} 





   .features{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    position: relative;
    right: 100px;
  }
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  .featured-desription{
    color: gray;
    width: 50%;
    height: 100px;
  
  }
  .featureicon{
    width: 50px;
    height: 50px;
  }
/* card section */

.features3{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  position: relative;
  left: 540px;
  bottom: 150px;
}
.feature3{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}


@media (max-width: 600px) {
  .features3 {
      flex-direction: column; /* Stack cards vertically */
      left: 0; /* Reset the left position */
      bottom: 0; /* Reset the bottom position */
  }
  .features{
    left: 0;
    bottom: 0;
  }
}